
body {
    background-color: black;
    color: white;
    font-family: "Deezer Sans", sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
    width: auto;
    height: 100px;
    gap: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: large;
    transition: all 0.3s;
    margin-left: 50px ;
}

.nav a:hover {
    background-color: #a238ff;
    color: black; 
    transform: scale(1.2);
}

.nav-logo {
    height: 5px; 
    width: fit-content;
}
hr {
    width: 50%;
    border: none;     
    height: 1px;       
    background-color: white;
}
.main{
    display: flex;
    margin-left: 20%;
    margin-top: 3%;
    gap: 5rem;
    flex-wrap: wrap;
}
.main-gif{
    border: 3px solid #a238ff; 
    border-radius: 10px; 
}
.text-p{
    font-size: 20px;
}

.button-main{
    display: flex;
    background-color: #a238ff;
    color: white;
    padding: 15px 50px;
    border-radius: 25px;  
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: 0 5px 15px rgba(162, 56, 255, 0.4); 
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    top: -12rem;
    left: 60rem;
    position: relative;
}
.button-main:hover{
    background-color: white;
    color: #a238ff;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(162, 56, 255, 0.6);
}

.music{
    display: flex;
    margin-left:20%;
    margin-right: 10% ;
    margin-top: -3%;
    gap: 5rem;
    /* background-color: #a238ff6e; */
    padding: 20px;
}
.music img{
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    &:hover{
        background-color: white;
        color: #a238ff;
        transform: scale(1.1);
        box-shadow: 0 8px 20px rgba(162, 56, 255, 0.6);
    }
}
